.card {
  background-color: #201d26;
  width: 100%;
  overflow: hidden;
}
.card-img-top {
  object-fit: fill;
}
/* .card-body {
  background-color: #1e1c23;
} */
.card-body .title {
  color: #fbfafe;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.preview-comp {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.preview {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
}
.preview p {
  color: #00fff7;
}
