.card {
  background-color: #1b1820;
  width: 100%;
  overflow: hidden;
}

.card-body .title {
  color: #fbfafe;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.nft-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.nft-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.nft-detail p {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.8;
  color: #fff;
  margin: 0;
}
.nft-detail .ethereum {
  width: 14px;
}
.profile-image {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 2px;
}

.profile-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
